* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:
        "Sora",
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Arial,
        sans-serif;
    line-height: 1.6;
    color: #333;
    background: white; /*linear-gradient(135deg, #ffffff 0%, #efefef 100%);*/
    min-height: 100vh;
}

header {
    text-align: left;
    padding: 0;
    background: white;
    /*backdrop-filter: blur(10px);*/
    margin-bottom: 3rem;
}

header h1 {
    color: #000000;
    font-size: 10rem;
    text-align: left;
    line-height: 1;
    letter-spacing: -8px;
    /*font-stretch: ultra-condensed;‚*/
}

header p {
    color: black;
    font-size: 2rem;
    text-align: right;
}

main {
    /*max-width: 1600px;*/
    margin: 0 auto;
    padding: 0 1rem;
    margin-left: 0;
}

.beans-overview h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

.beans-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.beans-entry {
    text-align: center;
    padding: 1rem;
    background: #ff4e2b;
    border-radius: 2px;
}

.beans-entry h4 {
    color: white;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.beans-entry p {
    color: lightgray;
}

.hero {
    background: white;
    padding: 3rem 2rem;
    /*border-radius: 15px;*/
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.hero h2 {
    color: black;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 2rem;
}

.actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.btn {
    padding: 12px 24px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 1s;
}

.btn.primary {
    background: #a57dfb;
    color: white;
    border: 2px solid #a57dfb;
}

.btn.primary:hover {
    background-color: white; /* background becomes text color */
    color: #a57dfb; /* text becomes background color */
}

.btn.secondary {
    background: #ff4e2b;
    color: white;
    border: 2px solid #ff4e2b;
}

.btn.secondary:hover {
    background-color: white; /* background becomes text color */
    color: #ff4e2b; /* text becomes background color */
}

footer {
    font-size: 0.8rem;
    text-align: right;
    padding: 2rem;
    margin-top: 2rem;
    color: #ff4e2b;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    color: inherit;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
    header h1 {
        font-size: 2rem;
    }

    .hero {
        padding: 2rem 1rem;
    }

    .actions {
        flex-direction: column;
        align-items: center;
    }

    .btn {
        width: 200px;
        text-align: center;
    }
}
